# ignore visual studio files
CrunchTope.*

# ignore visual studio output files
x64
.vs

# ignore input files
*.in
*.dbs
*.dat
*.x
*.y
*.vx
*.vy

# but selectively track input files (shortcourse input files)
!ShortCourse1.in
!ShortCourse2react.in
!ShortCourse3.in
!ShortCourse4.in
!ShortCourse4Cltopes.in
!ShortCourse4-HCl-Only.in
!ShortCourse6.in
!ShortCourse8.in
!ShortCourse10.in
!ShortCourse11.in
!ShortCourse12a.in
!ShortCourse12b.in
!ShortCourse12c.in
!test_infiltration_1.in
!test1_8C_PLM_open.in
!test2_20C_PLM_open.in

# ignore output files
*.tec
*.out

# ignore .rst file

*.rst

# ignore fort.123 files
fort.123
